In [23]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics as metrics

import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv("gdp_csv.csv")
df.drop(["Country Code"],axis=1,inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11507 entries, 0 to 11506
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  11507 non-null  object
 1   Year          11507 non-null  int64
 2   Value         11507 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 269.8+ KB

In [17]:
enc = OneHotEncoder(handle_unknown='ignore')
enc_df = pd.DataFrame(enc.fit_transform(df[['Country Name']]).toarray())

In [18]:
df = df.join(enc_df)
df.drop(["Country Name"],axis=1,inplace=True)

In [19]:
df

,Year,Value,0,1,2,3,4,5,6,7,...,246,247,248,249,250,251,252,253,254,255
0,1968,2.576068e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1969,2.843420e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1970,3.138550e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1971,3.642691e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1972,4.331606e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11502,2012,1.424249e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11503,2013,1.545177e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11504,2014,1.589105e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11505,2015,1.630467e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11506,2016,1.661996e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [24]:
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(["Value"],axis=1),
    df.Value,
    test_size=0.2,
    random_state=100
)
model = LinearRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)
yhat = model.predict(X_test)
def mostra_erro(y_test, yhat):
    mae = metrics.mean_absolute_error(y_test, yhat)
    mse = metrics.mean_squared_error(y_test, yhat)
    rmse = np.sqrt(mse) # or mse**(0.5)  
    r2 = metrics.r2_score(y_test,yhat)

    print("Results of sklearn.metrics:")
    print("MAE:",mae)
    print("MSE:", mse)
    print("RMSE:", rmse)
    print("R-Squared:", r2)
mostra_erro(y_test,yhat)

Results of sklearn.metrics:
MAE: 1271834193371.176
MSE: 8.70170592272897e+24
RMSE: 2949865407561.6685
R-Squared: 0.5200504850563785