In [9]:
# data wrangling tools
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# statistical analysis
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

# datadotworld SDK
import datadotworld as ddw
#% load_ext watermark

import time

In [33]:
mortdf = pd.read_csv("death .csv")
incddf = pd.read_csv("incd.csv", encoding="latin1")
incddf.rename(columns={' FIPS': 'FIPS'}, inplace=True)

mortdf = mortdf[mortdf.FIPS.notnull()]
incddf = incddf[incddf.FIPS.notnull()]

mortdf['FIPS'] = mortdf.FIPS.apply(lambda x: str(int(x)))\
                            .astype(np.object_)\
                            .str.pad(5, 'left', '0')

incddf['FIPS'] = incddf.FIPS.apply(lambda x: str(int(x)))\
                            .astype(np.object_)\
                            .str.pad(5, 'left', '0')

incddf.drop(incddf.columns[[0,3,4,7,8,9]].values, axis=1, inplace=True)
mortdf.drop(mortdf.columns[[0,2,4,5,7,8,9,10]], axis=1, inplace=True)


incddf.rename(columns={incddf.columns[1]:'Incidence_Rate',
                       incddf.columns[2]:'Avg_Ann_Incidence'}, inplace=True)
mortdf.rename(columns={mortdf.columns[1]:'Mortality_Rate',
                       mortdf.columns[2]:'Avg_Ann_Deaths'}, inplace=True)

In [36]:
mortdf

       FIPS Mortality_Rate Avg_Ann_Deaths
0     00000             46        157,376
1     21193          125.6             43
2     21197          125.3             18
3     02185          124.9              5
4     21189          118.5              8
...     ...            ...            ...
3136  02282              *              *
3137  02290              *              *
3138  48505              *              *
3139  48507              *              *
3140  46137              *              *

[3141 rows x 3 columns]

In [35]:
incddf.head(5)

    FIPS Incidence_Rate Avg_Ann_Incidence Recent Trend
0  00000           62.4            214614      falling
1  01001           74.9                43       stable
2  01003           66.9               170       stable
3  01005           74.6                25       stable
4  01007           86.4                23       stable